#credits,
header{
    background-color: #2c3e50;    
}

.col-12 img{
    width: 300px;
    margin: auto;
    min-width: 50px;
}

.bg-springgreen,
.my-btn{
    background-color: #1abc9c;
}

.my-btn:hover{
    background-color: grey;
}

.my-card img{
    width: 100%;
}

[class^="col"] h1{
    margin-top: 2rem;
    font-size: 3.5rem;
}


.big{
    height: 300px;
}

#info{
    background-color: #3a546d;
}

.my-hr-wh{
    height: .25rem;
    background-color: white;
}
.my-hr{
    height: .25rem;
    background-color: black;
}

#portfolio{
    padding-bottom: 3rem;
}

#credits p{
    margin-top: 1rem;
}

#icon .bi {
    padding: 0 .5rem;
}

span{
    color: #1abc9c;
}

.form-control{
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 0;
    
}