#credits,
header{
    background-color: rgb(33, 35, 54);    
}

.col-12 img{
    width: 300px;
    margin: auto;
    min-width: 50px;
}

.bg-springgreen{
    background-color: #0ff19b;
}

.my-card img{
    width: 100%;
}

[class^="col"] h1{
    margin-top: 2rem ;
}

.button-white{
    color: white;
    border: 2px solid white;
}

.big{
    height: 300px;
}

#info{
    background-color: rgb(71, 75, 111);
}
